@charset "utf-8";
	.miniPadding{
	padding-right: 0;
    padding-left: 0;
    padding-bottom: 3px;
    
   }
   
	.noPadding{
	padding-right: 0;
    padding-left: 0;
    padding-bottom: 0px;
    
   }
   
	.fillHeight{
	height: 100%;  
    
   }