@charset "utf-8";

img  { width: 100%;
height: 100%;
}

 body{
     margin:0px;
     background-image:url(/images/bg.jpg);
     background-repeat:no-repeat;
     width:100%;
}

nav{
    float: left;
    width:100%;
    height:10%;
    background-image:url(../images/nav.jpg);
    margin: 10% 0 0 10%;
    padding: 0 ;
}

nav ul {
    float:left;
    margin: 0px;
    padding: 0 0 0 0;
    width: 80%;
    list-style: none;
}

nav ul li {
    display: inline;
}

nav ul li a {
    float: left;
    padding: 11px 20px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    background: url(../images/templatemo_menu_divider.png)        center right no-repeat;
    font-family: Tahoma;
    outline: none;
}

nav li a:hover {
    color: #2a5f00;
}